@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(198, 239, 151), #ead2ef);
    font-family: 'Quicksand';
    display: grid;
    grid-template-rows: 3rem 1fr 1rem;
    font-weight: bold;
    gap: 0.5rem;
    height: 100%;
}
h1 {
    font-family: 'Permanent Marker';
}
body > header {
    display: block;
    text-align: center;
    font-size: x-small;
}
header > div {
    font-size: small;
}
img {
    position: absolute;
    top: 6px;
    left: 80%;
    width: 50px;
    height: 50px;
}

main > ul {
    display: grid;
    border-radius: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    justify-items: center;
}

main > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70px;
    height: 120px;
    perspective: 150px;
    margin: 0.3rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > button {
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(205, 158, 200);
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
}
main > p {
    margin: 0.5rem;
    font-size: larger;
    height: 1rem;
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(143, 140, 140, 0.455);
    display: grid;
    place-content: center;
    font-size: 4rem;
    border-radius: 1rem;
    backface-visibility: hidden;
    user-select: none;
}

.back {
    background: rgb(205, 158, 200);
    transform: rotateY(180deg);
}

.card.flipped .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

body > footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
}

@media (min-width: 800px) {
    header > div {
        font-size: 18px;
    }

    main > ul > li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 190px;
        height: 90px;
        perspective: 150px;
        margin: 0.3rem;
    }

    .back,
    .front {
        font-size: 4rem;
    }
}

@media (min-width: 1000px) {
    body {
        grid-template-rows: 8rem 1fr 2.4rem;
        height: 100%;
    }
    main > ul > li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 340px;
        height: 120px;
        perspective: 600px;
        margin: 0.3rem;
    }
    img {
        position: absolute;
        top: 10px;
        left: 80%;
        width: 120px;
        height: 120px;
    }
    h1 {
        font-size: 4rem;
        letter-spacing: 10px;
    }
    body > header {
        font-size: larger;
    }
    body > footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: large;
    }
    main > p {
        height: 2rem;
        margin: 1rem;
        font-size: x-large;
    }
    .front,
    .back {
        font-size: 5rem;
    }
}
@media (min-width: 1100px) {
    img {
        position: absolute;
        top: 10px;
        left: 85%;
        width: 120px;
        height: 120px;
    }
    main > ul > li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 310px;
        height: 120px;
        perspective: 600px;
        margin: 0.3rem;
    }
}
